@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  font-size: 62.5%;
  --font: 'Open Sans', sans-serif;

  --yellow: #ffcc29;
  --blue: #1d539e;
  --dark-blue: #1e2338;
  --gray: #828799;
  --page-background: #f9fbfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: var(--font);
  font-size: 1.6rem;
}

body {
  min-height: 100vh;
  background-color: var(--page-background);
}

body::before {
  content: '';
  height: 50vh;
  width: 100%;

  background-color: var(--blue);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}

main > h1,
main > p {
  color: #fff;
  text-align: center;
}

main h1 {
  font-size: clamp(2.5rem, 1.8429rem + 2.0536vw, 4.8rem);

  margin-top: 10vh;
  margin-bottom: 2rem;

  font-weight: 700;
  line-height: 6.5rem;
}

main > p {
  font-weight: 400;
  font-size: clamp(1.3rem, 1.1571rem + 0.4464vw, 1.8rem);
  line-height: 2.5rem;

  max-width: 55.3rem;
  margin-inline: auto;
  margin-bottom: 6.5rem;
}

main {
  width: min(95%, 110.5rem);
  margin: auto;
}

.wrapper-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;

  margin-bottom: 10rem;
}

.card {
  overflow: hidden;
  background-color: #fff;
  color: var(--gray);

  max-width: 35.5rem;
  padding: 3rem;

  box-shadow: 0px 1px 2px rgba(142, 150, 185, 0.25);
  border-radius: 0.8rem;
  height: 47rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h2 {
  color: var(--dark-blue);

  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.5rem;

  margin-bottom: 2rem;
}

.price {
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 4.9rem;
}

.price > span {
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.price + span {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.card p:nth-of-type(2) {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.9rem;
  margin-top: 1rem;
}

hr {
  border-top: 0.5px solid #eee;
  border-bottom: none;
  margin-block: 2rem;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 0.7143rem + 0.8929vw, 2rem);
}

.card ul li {
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.9rem;

  display: inline-flex;
  gap: 1.5rem;
}

.card ul li::before {
  content: url('./assets/check.svg');
}

.card button {
  color: var(--blue);
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.5rem;
  background-color: transparent;

  border: 1px solid var(--blue);
  border-radius: 1rem;
  padding: 1.2rem 0;

  transition: color, background-color 0.3s;

  cursor: pointer;
}

.card button:hover {
  color: #fff;
  background-color: var(--blue);
}

.card-special {
  margin-top: -.8rem;
  height: 49rem;
}

.card-special button {
  color: #fff;
  background-color: var(--blue);
}

.card-special button:hover {
  filter: brightness(1.1);
}

.card-special div > div {
  background-color: var(--yellow);

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: -3rem -3rem 1rem -3rem;
  padding: 2.2rem 3rem;
}

.card-special div > div h2 {
  color: var(--blue);
  margin-bottom: 0;
}

.card-special div > div span {
  background-color: var(--blue);
  color: #fff;

  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.6rem;

  padding: .8rem 2.4rem;
  border-radius: 4rem;
}


@media (max-width: 1180px) {
  .card-special {
    margin-top: 0;
  }
}