@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Work+Sans:wght@400;700&display=swap');

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button {
  font-size: 1.4rem;
}


body {
  min-height: 100vh;
  color: #fff;
  font-family: 'League Spartan', sans-serif;
  background-color: red;
}

#app {
  background-color: yellow;
  min-height: 100vh;
}

main, header {
  padding: 0 5%;
  background-color: #121214;
  max-width: 72rem;
}

header {
  padding-top: 3rem;
  padding-bottom: 5rem;
}

header img {
  width: clamp(18.9rem, 2.9000rem + 50.0000vw, 38.9rem);
}

main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  
}

main h1, main input {
  font-family: 'Work Sans', sans-serif;
}

main div.text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main h1 {
  color: #08C05E;
  font-weight: 700;
  font-size: clamp(1.9rem, 1.5000rem + 1.2500vw, 2.4rem);

}

main h1 + span {
  font-weight: 700;
}

main p {
  font-weight: 400;
  line-height: 1.9rem;
}


form {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
}

form div {
  display: flex;
  filter: drop-shadow(4px 10px 15px rgba(0, 0, 0, 0.5));
  background-color: #08C05E;
  padding-left: .5rem;
}
form input, form button {
  border: none;
}

form input {
  padding: 1.7rem 0 1.7rem 1rem;
  width: min(100%, 79.8rem);
} 

form button {
  background-color: #8257E5;
  color: white;
  padding: 1.2rem;
  cursor: pointer;
}

main a {
  color: #8257E5;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: .5rem;
  transition: filter .3s;
}

main a svg {
  fill: none;
}

main a:hover {
  text-decoration: underline;
  filter: brightness(.8);
}



