:root {
  font-size: 62.5%;

  --body-background: #0e0e0e;
  --color-logo: #ff5b50;
  --card-color: #252525;
  --text-color: #fff;
  --subtitle-color: #5a5757;
  --black-text: #000;
  --color-input: #0d0d0d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

body,
input,
button,
textarea {
  font-size: 1.6rem;

  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased; /* deixa o contorno da fonte mais suave */
}

body {
  min-height: 100vh;
  
  color: var(--text-color);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: 0 auto 3rem;
  padding-top: 2rem;
}

header > img {
  width: clamp(20rem, 18.1429rem + 5.8036vw, 26.5rem);
}

header ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

header ul li a {
  color: var(--text-color);
  font-size: clamp(1.4rem, -1.4rem + 4vw, 1.8rem);
  text-decoration: none;
}

header ul li a:hover {
  font-weight: 700;
}

header button {
  font-weight: 700;
  font-size: 1.4rem;

  width: 18rem;
  height: 4rem;

  border: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  cursor: pointer;
  transition: filter, border-radius 300ms;
}

header button:hover {
  filter: brightness(1.1);
  border-radius: 1.5rem;
}

.wrapper-bgImg {
  background: var(--body-background) url('assets/background.png') no-repeat center;
  background-size: cover;
}

.bgImg {
  width: min(95%, 1277px);
  margin: 0 auto;
}

.bgImg > article:first-of-type {
  width: fit-content;
  margin: 0 auto;
}

.bgImg > article:first-of-type h1 {
  font-size: clamp(2.5rem, 1.3235rem + 3.6765vw, 5rem);
  max-width: 17.5ch;
  font-weight: 700;
}

.bgImg > article:first-of-type h1 span {
  color: var(--color-logo);
}

.bgImg > article:first-of-type p {
  max-width: 31ch;
  font-size: clamp(1.4rem, 1rem + 1.25vw, 1.8rem);
  line-height: 2.2rem;

  margin: 2rem 0;
}

.bgImg > article:first-of-type p > span {
  font-weight: bold;
  display: block;
}

.group-avarts {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.group-avarts img {
  max-width: 169px;
}

.slider {
  margin: clamp(5rem, -2.1111rem + 11.1111vw, 9rem) auto 0;
  width: min(95%, 800px);
  height: min(50vw, 400px);
  overflow-x: hidden;
  position: relative;

  border-radius: 2rem;
}

.slides {
  width: 800%;
  height: min(50vw, 400px);
  display: flex;
}
.first {
  margin: 0;
}

.slides input {
  display: none;
}

.slide {
  width: 12.5%;
  position: relative;
  transition: margin 2s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.manual-navigation {
  position: absolute;
  width: 100%;
  display: flex;
  bottom: 2rem;
  justify-content: center;
  gap: 2rem;
}

.manual-btn {
  border: 2px solid #fff;
  padding: 5px;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 700ms;
}

.manual-btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -12.5%;
}

#radio3:checked ~ .first {
  margin-left: -25%;
}

#radio4:checked ~ .first {
  margin-left: -37.5%;
}

#radio5:checked ~ .first {
  margin-left: -50%;
}

#radio6:checked ~ .first {
  margin-left: -62.5%;
}
#radio7:checked ~ .first {
  margin-left: -75%;
}

#radio8:checked ~ .first {
  margin-left: -87.5%;
}

.navigation-auto div {
  border: 2px solid var(--color-logo);
  padding: 5px;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 700ms;
}

.navigation-auto {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  bottom: 2rem;
}

#radio1:checked ~ .navigation-auto > .auto-btn1 {
  background-color: #fff;
}
#radio2:checked ~ .navigation-auto > .auto-btn2 {
  background-color: #fff;
}
#radio3:checked ~ .navigation-auto > .auto-btn3 {
  background-color: #fff;
}
#radio4:checked ~ .navigation-auto > .auto-btn4 {
  background-color: #fff;
}
#radio5:checked ~ .navigation-auto > .auto-btn5 {
  background-color: #fff;
}
#radio6:checked ~ .navigation-auto > .auto-btn6 {
  background-color: #fff;
}
#radio7:checked ~ .navigation-auto > .auto-btn7 {
  background-color: #fff;
}
#radio8:checked ~ .navigation-auto > .auto-btn8 {
  background-color: #fff;
}

.bg {
  background-color: var(--body-background);
  
}

.data {
  display: flex;
  flex-direction: column;
  width: min(95%, 1277px);
  margin: 0 auto;
}

.data-number {
  display: flex;
  justify-content: space-evenly;
  padding: 4rem 0;
}

.data-number div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-number div strong {
  font-weight: 600;
  font-size: clamp(3rem, 1rem + 6.25vw, 5rem);
}

.data-number div small {
  color: var(--subtitle-color);
  font-weight: 600;
  font-size: clamp(1.4rem, 0.8rem + 1.875vw, 2rem);
}

.data-text {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: clamp(1.2rem, 0.6rem + 1.875vw, 1.8rem);
}

.data-text p {
  font-weight: 400;
  max-width: 33ch;
}

.data-text p span {
  text-decoration: underline;
  color: var(--color-logo);
}

.data-text a {
  color: var(--text-color);

  display: inline-block;
  margin-top: clamp(3rem, 0rem + 9.375vw, 6rem);
}

.data img {
  margin-top: 4rem;
}

.ranking {
  width: min(95%, 1277px);
  margin: 0 auto;

}

.ranking h2 {
  font-weight: 700;
  font-size: clamp(2.4rem, -0.2000rem + 8.1250vw, 5rem);
  margin: clamp(6rem, 1.7647rem + 13.2353vw, 15rem) 0;
}

.ranking h2 > span {
  color: var(--color-logo);
}

.ranking-cards {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
}

.ranking-card {
  max-width: 35rem;

}

.ranking-card h3  {
  font-weight: 500;
  font-size: clamp(2rem, 1.0000rem + 3.1250vw, 3rem);
  display: flex;
  justify-content: space-between;
}

.ranking-card h3 > img {
  width: clamp(2rem, 1.0000rem + 3.1250vw, 3rem);

}

.ranking-card div {
  font-size: clamp(1.4rem, 0.8000rem + 1.8750vw, 2rem);
  
  display: flex;
  justify-content: space-between;

  margin: 2rem 0 1rem;
}

.ranking-card div > .name {
  font-weight: 600;
  color: var(--subtitle-color);
}

.ranking-card div > .nfts {
  font-weight: 400;
  color: var(--color-logo);
}

.bg > section {
  width: min(95%, 1277px);
  margin: clamp(6rem, 1.7647rem + 13.2353vw, 15rem) auto 0;
}

.artist {
  background-color: var(--card-color);
  max-width: 35rem;
  height: 15rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  cursor: pointer;

  padding: 0 3rem;
}

.artist:hover {
  background-color: var(--color-logo);
}

.artist:hover span:last-child {
  color: #fff;
}

.bg section h2 {
  font-weight: 700;
  font-size: clamp(2.4rem, -0.2000rem + 8.1250vw, 5rem);
  text-align: center;

  margin-bottom: clamp(6rem, 3.1765rem + 8.8235vw, 12rem);
}

.bg section h2 span {
  color: var(--color-logo);
}

.cards-artists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: clamp(5rem, 2.6471rem + 7.3529vw, 10rem);
}

.artist div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.artist span {
  font-size: clamp(1.4rem, 1.1176rem + 0.8824vw, 2rem);
  font-weight: 500;
}

.artist span:last-child {
  color: var(--color-logo);
}

.bg section a {
  display: flex;
  gap: 1rem;

  font-weight: 400;
  font-size: 2rem;
  text-decoration: none;

  width: fit-content;
  margin: 5rem auto 0;
  color: var(--text-color);

  transition: opacity 300ms;
}

.bg section a:hover {
  opacity: 0.8;
}

.hide {
  display: none;
}



/* media queries  */

@media (min-width: 640px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    padding-top: 5rem;
    margin-bottom: clamp(5rem, -2.1111rem + 11.1111vw, 9rem);
  }
  header > img {
    width: clamp(15rem, -5.4444rem + 31.9444vw, 26.5rem);
  }
  header ul {
    flex-direction: row;
    gap: clamp(1rem, -10.6667rem + 16.6667vw, 6rem);
  }

  header button {
    width: clamp(18rem, 14.4444rem + 5.5556vw, 20rem);
    height: clamp(4rem, 2.2222rem + 2.7778vw, 5rem);
    gap: clamp(1rem, 0.1111rem + 1.3889vw, 1.5rem);
    font-size: clamp(1.4rem, 1.0444rem + 0.5556vw, 1.6rem);
  }

  .bgImg > article:first-of-type {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 4rem;
  }

  .bgImg > article:first-of-type h1 {
    font-size: clamp(2.5rem, -0.1667rem + 4.1667vw, 4rem);
  }
  .bgImg > article:first-of-type p {
    font-size: clamp(1.4rem, 0.6889rem + 1.1111vw, 1.8rem);
  }
  .bgImg > article:first-of-type div img {
    width: clamp(10rem, -2.2667rem + 19.1667vw, 16.9rem);
  }

  .data {
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid var(--subtitle-color);
  }

  .data-number {
    flex-direction: column;
    min-width: clamp(10rem, -22.0000rem + 50.0000vw, 28rem);
    border-right: 1px solid var(--subtitle-color);
  }

  .data-number div strong {
    font-size: clamp(3rem, -0.5556rem + 5.5556vw, 5rem);
  }

  .data-number div small {
    font-size: clamp(1.4rem, 0.3333rem + 1.6667vw, 2rem);
  }

  .data-text {
    flex-direction: row;
    width: 100%;
    padding-top: clamp(4rem, -1.3333rem + 8.3333vw, 7rem);
  }
  
  .data-text div {
    width: 50%;
    padding-left: clamp(0rem, -5.4400rem + 8.5000vw, 6.8rem);

  }

  .data-text {
    font-size: clamp(1.2rem, 0.1333rem + 1.6667vw, 1.8rem);
  }

  .data-img {
    margin-top: 7rem;
  }

  .ranking-cards {
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    grid-template-areas: 
    'c1 line c2'
    'c3 line c4';
    column-gap: 3rem;
    row-gap: 5rem;
  }

  .ranking-card:nth-child(1) {
    grid-area: c1;
  }
  .ranking-card:nth-child(2) {
    justify-self: end;
    grid-area: c2;
  }
  .ranking-card:nth-child(3) {
    grid-area: c3;
  }
  .ranking-card:nth-child(4) {
    justify-self: end;
    grid-area: c4;
  }
  .ranking-cards div:nth-child(5) {
    background-color: var(--subtitle-color);
    height: 100%;
    opacity: 0.2;
    grid-area: line;
  }
}


@media (min-width: 1110px) {
  .hide {
    display: block;
  }

  .slider {
    width: 100%;
    height: fit-content;
    border-radius: 0;
    overflow: inherit;
  }

  .slider :where(input, .navigation-auto, .manual-navigation) {
    display: none;
  }

  .slides {
    width: 100%;
    height: fit-content;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    justify-items: center;
    row-gap: 6rem;
    column-gap: 1.6rem;
  }

  .slide {
    width: 30.7rem;
    border: 1px solid #fff;
  }
}
